<div class="container">
  <form>
      <figure class="image">
        <img src="/assets/img/startup.svg" alt="signup image">
      </figure>
      <article class="controls">
        <!-- <div class="form-group">
          <label for="fullname">nombre completo</label>
          <input type="text" id="fullname" placeholder="Ingresa tu nombre" appInputBase>
        </div> -->
        <div class="form-group">
          <label for="email">correo</label>
          <input type="email" id="email" placeholder="Ingresa tu correo" appBaseInput>
        </div>
        <div class="form-group">
          <label for="password">contraseña</label>
          <input type="password" id="password" placeholder="Ingresa tu contraseña" appBaseInput>
        </div>
      </article>
      <footer class="actions">
        <button type="submit" appPrimaryButton>Empezar</button>
      </footer>
  </form>
</div>