.container {
  background-color: #0F223F;
  border-top: 5px solid #E94247;
  height: 100vh;
  padding: 50px 35px;
  width: 100%;

  .form {
    max-width: 480px;
  }

  .image {
    height: 150px;
    text-align: center;

    img {
      height: 100%;
    }
  }

  .controls {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px 0;
    margin-top: 40px;
    padding: 20px 0;

    label {
      color: rgba(255, 255, 255, .9);
      display: block;
      font-family: 'Exo 2';
      font-size: 13px;
      letter-spacing: 3px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
  }
  .actions {
    margin-top: 20px;
  }
}