.txt {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,.3);
  color: rgba(255,255,255,.5);
  font-size: 15px;
  height: 50px;
  letter-spacing: 2px;
  transition: border-color 300ms ease;
  width: 100%;

  &::placeholder {
    color: rgba(255,255,255,.25);
    font-size: 15px;
  }

  &:focus {
    border-bottom-color: rgba(255,255,255,.75);
    outline: none;
  }
}